/* Reset degli attributi dei box */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Definizione variabili */
:root{
    --title_color: #E53170;
    --section_width: 70vw;
    --card_bkgrcolor: #0F0E17;
    --card_textcolor: #FFFFFE;
    --card_textcolor_hov: yellowgreen;
    --card_mailcolor: #6ECBDD;
    --card_mailcolor_hov: yellow;
    --card_bordercolor: rgba(146, 93, 225, 0.6);
    --card_margin: 2.5%;
}

/* Attributo per utilizzo Google font */
.google_font{
    font-family: 'Fredoka One', cursive;
}

.default_font{
    font-weight: 500;
    font-family: initial;
}

/* Dimensionamento e centratura sezioni */
section{
    width: var(--section_width);
    margin: auto;
    margin-bottom: 1em;
    text-align: center;
}

/* Attributi titolo */
h1{
    color: var(--title_color);
    padding: 1em;
}

/* Classe clearfix */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Classe utilizzate per attribuire il float:left */
.floater{
    float: left;
}

/* Layout delle singole carte */
.card{
    width: calc((100% / 3) - (2 * var(--card_margin)));
    background-color: var(--card_bkgrcolor);
    margin: var(--card_margin);
    box-shadow: 0 0 5px 3px var(--card_bordercolor);
}

/* Al passaggio del mouse, svanisce l'ombra della card */
.card:hover{
    box-shadow: none;
}

/* Al passaggio del mouse sulla card, il colore del testo cambia */
.card:hover .card_text{
    color: var(--card_textcolor_hov);
}

/* Dimensionamento della foto ad un terzo della card (larghezza) */
.card_img{
    width: calc(100% / 3);
    height: auto;
}

/* Dimensionamento della sezione dati (testo) a due terzi della card (larghezza) */
.card_text{
    width: calc((100% / 3) * 2);
    color: var(--card_textcolor);
    font-weight: 300;
    text-align: left;
    padding: 5% 10px;
}

/* Gutter inter card */
.card_text > h5{
    margin: 5% 0;
}

/* Attributi del link alla mail */
.card_mail{
    color: var(--card_mailcolor);
    text-decoration: none;
    font-size: small;
}

/* Al passaggio del mouse direttamente sul link alla mail, esso si evidenzia, cambiando colore */
.card_mail:hover{
    color: var(--card_mailcolor_hov);
}