/* Reset degli attributi dei box */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Definizione variabili */
:root{
    --title_color: purple;
    --card_bkgrcolor: rgb(2, 2, 50);
    --card_textcolor: rgb(219, 186, 186);
    --card_mailcolor: lightblue;
    --card_bordercolor: rgba(146, 93, 225, 0.6);
    --card_margin: 2.5%;
}

/* Attributo per utilizzo Google font */
.google_font{
    font-family: 'Fredoka One', cursive;
}

.default_font{
    font-weight: 500;
    font-family: initial;
}

/* Dimensionamento e centratura sezioni */
section{
    width: 80vw;
    margin: 3% auto;
    background-color: yellow;
    text-align: center;
}

/* Attributi titolo */
h1{
    color: var(--title_color);
    padding: 1em;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.card{
    width: calc((100% / 3) - (2 * var(--card_margin))); 
    background-color: var(--card_bkgrcolor);
    box-shadow: 0 0 5px 3px var(--card_bordercolor);
    margin: 0 var(--card_margin);
}

.card_img img{
    width: calc(100% / 3);
    float: left;
}

.card_text{
    width: calc((100% / 3) * 2);
    padding: 5% 10px;
    color: var(--card_textcolor);
    text-align: left;
    float: left;
}

.card_text > h5{
    margin: 5% 0;
}

.card_mail{
    color: var(--card_mailcolor);
    font-size: small;
}


